<form [formGroup]="accountForm" (ngSubmit)="onSubmit()" class="container card bg-light mb-3 mt-5 w-50">
    <h3 class="text-center m-3">Update Account</h3>
    <div class="mb-3">
        <label for="customer" class="form-label"><b>Customer:</b></label>
        <!-- <select name="customer" id="customer" formControlName="customer" class="form-control">
            <option *ngFor="let customer of customers" [ngValue]="customer">{{customer.name}}</option>
        </select> -->
        <input type="text" name="customer" id="customer" formControlName="customer" class="form-control">
    </div>
    
    <div class="mb-3">
        <label for="balance" class="form-label"><b>Balance:</b></label>
        <input type="number" name="balance" id="balance" formControlName="balance" class="form-control">
        <div *ngIf="accountForm.get('balance')?.touched">
            <small *ngIf="accountForm.get('balance')?.invalid" class="text-danger">Balance cannot be negative.</small>
        </div>
    </div>

    <button type="submit" [disabled]="accountForm.invalid" class="btn btn-primary mb-3 form-action">Update Account</button>
    <a class="form-action nav-link text-primary text-center mb-3" [routerLink]="['/bank']"><b>Dashboard</b></a>
</form>
<p *ngIf="isFormSubmitted" class="container card p-3 w-50 fw-50 text-center" [class]="successMessage ? 'bg-success-subtle text-success' : 'bg-danger-subtle text-danger'">{{!!successMessage ? successMessage: errorMessage}}</p>